<section>
    <div class="widgets">
        <div class="card total">
            <span class="title">Balance total</span>
            <h3 class="balance" [class]="this._results.totalInt >= 0 ? 'income' : 'expense'">
                {{this._localStorage.currency}} {{this._results.total}}
            </h3>
        </div>
        <div class="card total-incomes">
            <span class="title">Ingresos del Mes</span>
            <h3 class="balance income">
                {{this._localStorage.currency}} {{this._results.totalIncomes}}
            </h3>
        </div>
        <div class="card total-expenses">
            <span class="title">Gastos del Mes</span>
            <h3 class="balance expense">
                {{this._localStorage.currency}} {{this._results.totalExpenses}}
            </h3>
        </div>
    </div>
    <div class="card">
        <div id="container"></div>
    </div>
    <div class="card">
        <partial-table [_values]="this._transactions" (eventOnLoad)="this.loadPartialTable($event)" (eventOnChange)="this.changePartialTable($event)">
            <ng-template #caption>
                <h2>Ultimos movimientos</h2>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>Categoría</th>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Creación</th>
                </tr>
            </ng-template>
            <ng-template #body let-item>
                <tr [class]="item.categoryType === 1 ? 'income' : 'expense'">
                    <td>{{item.categoryName}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        {{this._localStorage.currency}} {{item.categoryType === 1 ? '' : '-'}}{{this._genericService.convertToCurrencyFormat(item.amount).data}}
                    </td>
                    <td>{{item.date | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{item.created | date: 'dd/MM/yyyy hh:mm a'}}</td>
                </tr>
            </ng-template>
            <ng-template #bodyMobile let-item>
                <ul>
                    <li><strong>Categoría:</strong> {{item.categoryName}}</li>
                    <li><strong>Nombre:</strong> {{item.name}}</li>
                    <li><strong>Monto:</strong> {{this._localStorage.currency}} {{item.categoryType === 1 ? '' : '-'}}{{this._genericService.convertToCurrencyFormat(item.amount).data}}</li>
                    <li><strong>Fecha:</strong> {{item.date | date: 'dd/MM/yyyy hh:mm a'}}</li>
                    <li><strong>Creación:</strong> {{item.created | date: 'dd/MM/yyyy hh:mm a'}}</li>
                </ul>
            </ng-template>
        </partial-table>
    </div>
</section>