section {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 5px;
        border-radius: 10px;
        background-color: var(--color-black);
        border: 1px solid var(--color-black-border);

        partial-table {
            h2 {
                text-align: center;
            }
        }

        .year {
            display: flex;
            align-items: center;
            justify-content: center;

            .form-group {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;

                label {
                    white-space: nowrap;
                }
            }
        }
    }

    .widgets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .card {
            h3 {
                font-size: 1.6rem;
            }
    
            span {
                font-size: 1.2rem;
    
                &.title {
                    font-size: 1.3rem;
                }
    
                &.comment {
                    font-size: 0.8rem;
                    color: var(--color-black-text);
                }
            }
    
            .balance {
                &.income { color: var(--color-green); }
                &.expense { color: var(--color-red); }
            }
    
        }
    }

    @container (width <= 700px) {
        .widgets {
            grid-template-columns: repeat(2, 1fr);
            
            .card {
                &:last-child {
                    grid-column: span 2;
                }
            }
        }
        .card {
            padding: 10px !important;
        }
    }

    @container (width <= 500px) {
        .widgets {
            grid-template-columns: 1fr;
            
            .card {
                &:last-child {
                    grid-column: initial;
                }
            }
        }
    }

}

tr, ul {
    &.income {
        background-color: rgba(134, 239, 172, 0.2) !important;
        &:nth-child(odd) {
            background-color: rgba(71, 212, 122, 0.2) !important;
        }
    }

    &.expense {
        background-color: rgba(255, 102, 102, 0.2) !important;
        &:nth-child(odd) {
            background-color: rgba(255, 0, 0, 0.2) !important;
        }
    }
}