<div class="container">
    <div class="caption">
        <ng-container *ngTemplateOutlet="this.templateCaption"></ng-container>
    </div>
    <div class="body">
        <table>
            <thead>
                <ng-container *ngTemplateOutlet="this.templateHeader"></ng-container>
            </thead>
            <tbody>
                @for (item of this._values; track $index) {
                    <ng-container *ngTemplateOutlet="this.templateBody; context: { $implicit: item }"></ng-container>
                }
            </tbody>
        </table>
    </div>
</div>